@import "tailwindcss";

@theme {
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
    --color-light: #f3f3f3;
    --color-lagoon: #008094;
    --color-lagoon-pastel: #1f636d;
    --color-bermuda: #76dbc5;
    --color-dark: #3c3c3c;
    --spacing-max: 1240px;
    --spacing-base: 100px;
    --spacing-base-2: 150px;
    --spacing-base-3: 200px;
}

body {
    @apply bg-light w-screen;
}

.centered-section {
    @apply md:max-w-max md:mx-auto max-md:px-5;
}

.pm-btn {
    @apply bg-bermuda font-semibold md:text-[18px] px-[22px] py-[12px] rounded-lg cursor-pointer transition hover:brightness-105 shadow-lg disabled:cursor-not-allowed disabled:opacity-50;
}

.checklist::before {
    content: "\2714  ";
}

.legal-section {
    @apply pt-10 mb-base-3;

    & > h1 {
        @apply text-4xl text-center font-bold;
    }

    & > h2 {
        @apply text-xl font-bold mt-8;
    }

    & > h3 {
        @apply font-bold;
    }

    & > ul {
        @apply list-disc;
    }
}
